<div id="modal-<%= country.name.downcase.remove(" ") %>" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h2 class="modal-title"><%= country.name.capitalize %></h2>
        <h2> /<%= recipes_count %> </h2>
      </div>
      <div class="modal-body d-block pb-0">
        <%= render 'carousel', recipes: Recipe.where(country_id: country.id), country: country %>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
      </div>
    </div>
  </div>
</div>
