

    <%# Affichage map %>
    <%# render 'shared/map' %>

<div class="mx-auto" style="z-index: 99;">
  <div id="map-search-bar">
    <%= render "search_bar" %>
  </div>

  <%= render "search_modal" %>

  <div id="map-container">
    <%= render "map_test" %>
  </div>



</div>
