<div class="col-12 border-top bg-light-subtle fixed-bottom">
  <div class="col-10 mx-auto my-3 d-flex justify-content-between">

    <div class="text-center text-warning" style="width: 5em">
      <i class="fa-solid fa-book" style="font-size: 1.5rem"></i>
      <p class="m-0" style="font-size: 0.625rem">Cookbook</p>
    </div>

    <%= link_to recipes_path, class: "text-decoration-none text-warning #{'active-nav-page' if current_page?(recipes_path)}" do %>
      <div class="text-center" style="width: 5em">
        <i class="fa-solid fa-map" style="font-size: 1.5rem"></i>
        <p class="m-0" style="font-size: 0.625rem">Map</p>
      </div>
    <% end %>

    <div class="text-center text-warning" style="width: 5em">
      <i class="fa-solid fa-user" style="font-size: 1.5rem"></i>
      <p class="m-0" style="font-size: 0.625rem">Dashboard</p>
    </div>

  </div>
</div>

<%# On pourra ajouter d'autres boutons %>
