
<div data-controller="xp-bar" data-user-xp="<%= current_user.xp %>"
                              data-recipe-xp="<%= @user_recipe.recipe.xp %>">
  <div class="text-center">
    <h2><span data-xp-bar-target="xpAnimation"></span>/500XP</h2>
  </div>

  <div class="d-flex justify-content-around">
    <h2 class="xp-recipe text-center" data-xp-bar-target="plusXp"></h2>

    <div class="xp-bar ms-2 me-2">
      <div class="xp-before" data-xp-bar-target="xpBefore"></div>
      <div class="xp-won1" data-xp-bar-target="xpWon1"></div>
      <div class="xp-won2" data-xp-bar-target="xpWon2"></div>
    </div>

    <h2 class="display-lvl text-center" data-xp-bar-target="displayLvl"></h2>
  </div>
</div>
