<div data-controller="cookbook-grid">
  <div class="d-flex justify-content-end mt-2 text-warning">
    <div data-action="click->cookbook-grid#displaySingle" class="me-2">
      <h1><i class="fa-regular fa-square"></i></h1>
    </div>

    <div data-action="click->cookbook-grid#displayGrid">
      <h1><i class="fa-solid fa-border-all"></i></h1>
    </div>
  </div>

  <div data-cookbook-grid-target="recipeGrid" class="">
    <% @user_recipes.each do |ur| %>
      <%= link_to recipe_path(ur.recipe), class: "recipe-card-link" do %>

        <div data-cookbook-grid-target="recipeContainer" class="recipe-container bg-white rounded-10">
          <div>
            <% if ur.photo.attached? %>
              <%= cl_image_tag ur.photo.key, class: "recipe-img rounded-10", "data-cookbook-grid-target": "recipePhoto" %>
            <% else %>
              <%= cl_image_tag ur.recipe.photo.key, class: "recipe-img rounded-10", "data-cookbook-grid-target": "recipePhoto" %>
            <% end %>
          </div>

          <div data-cookbook-grid-target="recipeName" class="text-center mb-0 recipe-name delicious-handrawn-regular">
            <i><%= ur.recipe.name %></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
