
<div class="col-11 mx-auto" data-controller="cookbook">
  <div class="d-flex justify-content-around pt-4">
    <h1>Your Cookbook</h1>
  </div>
  <div class="d-flex justify-content-around">
    <div class="cookbook-btn-active" data-cookbook-target="bookmark" data-action="click->cookbook#bookmarkSelect">
      <h4 class="m-0">Bookmarks</h4>
    </div>

    <div class="cookbook-btn" data-cookbook-target="made" data-action="click->cookbook#madeSelect">
      <h4 class="m-0">Recipes made</h4>
    </div>
  </div>

  <div class="d-none" data-cookbook-target="renderMade">
    <%= render "cookbook_made" %>
  </div>

  <div data-cookbook-target="renderBookmark">
    <%= render "cookbook_bookmark" %>
  </div>

</div>
