.badges-container {
  padding-top: 8px;
  text-align: center;
  background-color: white;
  margin-bottom: 32px;
}


.badges {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
}

.round-btn {
  display: inline-block;
  width: 30%;
  height: auto;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
