.div-home-explicatif {
  position: relative;
  z-index: 0;
  background-color: rgba(255, 254, 238, 0.8);
  border: 2px solid rgba(183, 200, 51, 0.6);
  border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-image: round;
  display: flex;
  justify-content: center;
  // color: red;
}

#carousel-previous-button,
#carousel-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: transparent;
}

.chevron {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #d40d0d;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.carousel-control-prev-icon {
  margin-top: 10px;
}


#carousel-previous-button:hover,
#carousel-next-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

// #explicatif {
//   width: 90%;
// }

// /* Styles spécifiques à l'icône de chevron gauche */
// #carousel-previous-button::before {
//   content: "\2039"; /* Code unicode pour le chevron gauche */
//   font-family: Arial, sans-serif; /* Utilisez la police appropriée pour l'icône */
//   // font-weight: bold; /* Assurez-vous que le chevron est gras pour la visibilité */
//   font-size: 35px;
// }

// /* Styles spécifiques à l'icône de chevron droit */
// #carousel-next-button::before {
//   content: "\203A"; /* Code unicode pour le chevron droit */
//   font-family: Arial, sans-serif; /* Utilisez la police appropriée pour l'icône */
//   // font-weight: bold; /* Assurez-vous que le chevron est gras pour la visibilité */
//   font-size: 35px;
//   color: green;
// }


// #carousel-previous-button {
//   float: left; /* Aligner à gauche */
// }

// #carousel-next-button {
//   float: right; /* Aligner à droite */
// }

.caroussel_buttons {
  z-index: 101;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between; /* Espacement égal entre les éléments */
  background-color: red;
  // position: relative; /* Définir la position relative pour utiliser z-index */
  // z-index: 100; /* Valeur du z-index pour contrôler l'empilement */
  // align-items: center; /* Centrer verticalement */
  // justify-content: center; /* Centrer horizontalement */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
