.keyword {
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 4px 8px;
}

.kw-vegetarian {
  color: #0db316;
  border-color: #0db316;
}

.kw-vegan {
  color: #66d809;
  border-color: #66d809;
}

.kw-pork {
  color: #c91693;
  border-color: #c91693;
}

.kw-beef {
  color: #c00707;
  border-color: #c00707;
}

.kw-chicken {
  color: #d8d405;
  border-color: #d8d405;
}

.kw-dessert {
  color: #520909;
  border-color: #520909;
}

.kw-duck {
  color: #FF5733;
  border-color: #FF5733;
}

.kw-rabbit {
  color: #4682B4;
  border-color: #4682B4;
}

.kw-stew {
  color: #a8591d;
  border-color: #a8591d;
}

.kw-lamb {
  color: #067900;
  border-color: #067900;
}
