#map-search-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10001;
}

#map-container {
  margin-top: -86px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  touch-action: none;
}

#map-content {
  position: relative;
  width: 2000px;
  height: 2000px;
  background: url('Europe_map_mix52.png') no-repeat center center;
  background-size: cover;
}

.country-stars {
  color: goldenrod;
}

.button-flag {
  padding: 10px 25px;
}

.button-country {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1000;
  cursor: pointer;
}

.flag-border {
  box-shadow: 0 0 10px white;
}

#button-france {
  top: 1316px;
  left: 639px;
}

#button-italy {
  top: 1542px;
  left: 1016px;
}

#button-belgium {
  top: 1105px;
  left: 730px;
}

#button-germany {
  top: 1110px;
  left: 926px;
}

#button-greece {
  top: 1686px;
  left: 1419px;
}

#button-ireland {
  top: 977px;
  left: 342px;
}

#button-portugal {
  top: 1645px;
  left: 135px;
}

#button-spain {
  top: 1637px;
  left: 342px;
}

#button-england {
  top: 1012px;
  left: 533px;
}

#button-switzerland {
  top: 1322px;
  left: 835px;
}

#button-poland {
  top: 1015px;
  left: 1214px;
}

#button-norway {
  top: 622px;
  left: 893px;
}

#button-sweden {
  top: 670px;
  left: 1040px;
}

#button-netherlands {
  top: 1010px;
  left: 766px;
}

#button-denmark {
  top: 818px;
  left: 885px;
}

#button-iceland {
  top: 220px;
  left: 254px;
}

#button-bulgaria {
  top: 1500px;
  left: 1512px;
}
