.profile-banner {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 20px;

  img {
    height: auto;
    width: 20vw;
    border: solid 2px black;
    border-radius: 50%;
  }

  p {
    text-align: center;

  }
}
