.filter-button {
  display: flex;
  align-items: center;
  background-color: $my-green;
  border-radius: 8px;
  font-size: 24px;
  padding: 0px 8px;
  margin-right: 20px;
  color: white;
}

.filter-button:hover {
  background-color: #7A9D2A;
}

.filter-menu {
  background-color: white;
  position: absolute;
  padding: 0.4em 0em;
  left: auto;
  right: auto;
  border-radius: 10px;
  margin-top: 54px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  accent-color: $my-green;
}

.search-field {
  border-radius: 20px !important;
}

.search-field::placeholder {
  color: #cccccc;
}

input:focus {
  outline: none !important;
  border:1px solid $my-green !important;
  box-shadow: 0 0 10px $my-green !important;
}

input:focus::placeholder {
  color: transparent;
}

.search-loupe {
  border-radius: 50%;
  background-color: $my-green;
  width: 42px;
  height: 100%;
  padding: 0;
  font-size: 8px;
}

.search-loupe-icon {
  color: white;
}

.search-loupe:hover {
  background-color: #7A9D2A;
}
