.cards-stat-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.card-container {
  width: 30vw;
  height: 20vh;
  margin-bottom: 20px;
  perspective: 750px;

  &:hover > .stat-card {
    cursor: pointer;
    transform: rotateY(180deg);
  }
}

.stat-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;

  img {
    width: 100%;
    height: 100px;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 24px;
    margin: 4px;
    color: white;
  }
}
