.xp-bar {
  height: 20px;
  // width: 100px;
  border: 1px solid black;
  display: flex;
  background-color: white;
}

.xp-before {
  height: auto;
  width: 0;
  background-color: $my-yellow;
}

.xp-won1, .xp-won2 {
  height: auto;
  width: 0;
  background-color: $my-green;
  transition: width 2s ease;
}

.xp-recipe {
  color: $my-green;
}

#recipe-name {
  width: 0px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1);
}

.image-container {
  position: relative;
}

.grow {
  transform: scale(1.15);
  transition: transform 0.5s ease;
}

.normal {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.xp-recipe, .xp-bar, .display-lvl {
  width: 30%;
}
